body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    background-color: rgb(130, 155, 238);
}

.gallery {
    overflow: hidden;
    border-radius: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s, opacity 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}


@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}